.modal-content {
color: white;
opacity: .9;
background-color: black;
}

.addRecipe-btn {
background-color: white;
color: black
}

.addRecipe-btn:hover {
    background-color:yellow;
    color: black
}