

.home-cont {
    color: white;
    background: linear-gradient( grey,black, black);
}

.h2-home {
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-family: 'Gothic A1', sans-serif;
}