.recipe-btn {
    margin: 8px;
    background-color: rgba(203, 243, 150, 0.856);
    color: black;
    position: relative;
    text-align: center;
}

.h2-recipe {
    Margin: 8px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}