.ingredient-btn {
        margin: 8px;
        background: linear-gradient( white, white, white, grey);
        color: rgb(0, 0, 0);
        text-align: center;
}

.ingredient-btn:hover {
    background: linear-gradient( grey, white, white, white);
}

