#info-slider, .carousel-item {
    max-height: 440px;
}
.carousel-caption {
    font-family: 'Gothic A1', sans-serif;
    font-size: 30px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    padding: 4px;
    font-weight: 200
}

.slider-caption-heading {
    font-family: 'Gothic A1', sans-serif;
    font-size: 40px;
    font-weight: 500
}