body {
    background-image: url("/images/main-bg-image.png");
    background-size: cover;
   
}

#info-box {
    margin-top: 10%;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, .75);
    padding: 10px
}

.brew-btn {
    margin-top: 20px;
}

