
.h1-inv {
    margin-top: 9px;
    color: white;
    font-family: 'Gothic A1', sans-serif;
    margin-left: 12px;
}

.title-row {
    background: linear-gradient( grey,black, black);
}

.inv-page-bar{
    text-align: right
}