.right {
    height: 111px;
    width: 75px;
}

.right:hover {
    background-color: rgba(78, 194, 78, 0.589)
}

.x:hover {
    background-color:rgba(224, 13, 13, 0.726)
}

.nav-icon-right {
    height: 90px;
    width: 30px;
}

.nav-icon-delete {
    margin: -15px;
    height: 115px;
    width: 80px;
}

.x {
    height: 111px;
    width: 68px;
}


.status-icon{
    height: 50px;
}
