

.navbar {
    background: linear-gradient( white,rgba(243, 240, 178, 1))
    /* background-color: rgb(243, 240, 178); */
}


.nav-icon {
    fill: black;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.logout {
    margin-left: 20px;
}

.item {
    text-align: center;
    margin: 20px 40px 0px 40px;
}

.icon {
    margin: 0 auto;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
	60% {
		-webkit-transform: translateY(-3px);
		-ms-transform:     translateY(-3px);
		transform:         translateY(-3px)
	}
}

a:hover{
    color:black;
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
    text-decoration: none;
    cursor: pointer;
    animation-name: bounce;
     -moz-animation-name: bounce;
}


a {
    color: black;
    font-size: 18px;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}


.text {
    margin: 0 auto;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 600
}
.user{
    margin: 0 auto;
    font-family: 'Cinzel Decorative', cursive;
}

.nav-welcome{
    margin-left: 30px;
    font-family: 'Gothic A1', sans-serif
}